html,
body {
    height: 100%;
    width: 100%;
    border: none;
    margin: none;
    padding: none;

    background-color: white;
}

h1,
h2,
p {
    margin: 0%;
    padding: 0%;
}

.App {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
}
.App-header {
    width: 100%;
    min-height: 20%;
    border: none;
    margin: none;
    padding: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: teal;
    text-align: center;
}

.Search-bar-container {
    min-height: 30%;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Search-bar {
    width: 80%;
    min-height: 40px;
    text-align: center;
}

.Submit {
    min-height: 35px;
    min-width: 20%;
    border-radius: 3px;

    background-color: teal;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.Submit[disabled] {
    cursor: default;
    background-color: gray;
}

.Submit:focus {
    outline-width: 0;
}

.Search-result-container {
    width: 100%;
    border: none;
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
}

.Cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
}

.Search-bar:focus {
    outline-width: 0;
}

.Validation-error {
    color: red;
}

.App-footer {
    width: 100%;
    height: 30px;
    background-color: teal;
    bottom: 0;
    margin-top: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    position: fixed;
}

@media only screen and (max-width: 600px) {
    .Submit {
        min-width: 80%;
    }
}
